[submodule "random-quote-machine-fcc"]
	path = random-quote-machine-fcc
	url = https://github.com/pallab-nandi/random-quote-machine-fcc.git
[submodule "markdown-previewer-fcc"]
	path = markdown-previewer-fcc
	url = https://github.com/pallab-nandi/markdown-previewer-fcc.git
[submodule "drum-machine-fcc"]
	path = drum-machine-fcc
	url = https://github.com/pallab-nandi/drum-machine-fcc
[submodule "javascript-calculator-fcc"]
	path = javascript-calculator-fcc
	url = https://github.com/pallab-nandi/javascript-calculator-fcc.git
[submodule "25-plus-5-Clock-fcc"]
	path = 25-plus-5-Clock-fcc
	url = https://github.com/pallab-nandi/25-plus-5-Clock-fcc.git
